# ch9:functions

In [1]:
# 2 types of function
#1)pre-defined
#2)user-defined

#properties of function
#every function should have input ,it should hava an output
#input fuction 
#any data types
#in python you can take multiple types can be returned
#creat your set of function ,and your library, import 
#key word is -> def

In [2]:
#function defination
def ctof(centi):
    far = round((9*centi+160)/5,2)
    return(far)
##        c/5= F-32/9
#          9c=5F-160
#         (9c+160)/c=F
#        c=(5F-160)/9

In [4]:
#function cll
f=ctof(32.4)
print('temperature in Farenheit =',f)

temperature in Farenheit = 90.32

In [9]:
#write a function to convert given farehenit to centigrades
def ftoc(far):
    centi =round(( 5*far - 160)/9,1)
    return(centi)

In [10]:
#function cll 
c= ftoc(90.32)
print('temperature in Centigrade = ',c)

temperature in Centigrade =  32.4

# by reference by value

In [11]:
#by reference
def f1(mylist):
    mylist.append(10)
    mylist.append(20)
    return(mylist)

In [21]:
#function cll
lst1=[1,2,3]
f1(lst1)
#print(lst1)

[1, 2, 3, 10, 20]

In [15]:
#by value
def f2(mylist):
    mylist = [1,2,3]
    mylist.append(55)
    mylist.append(66)
    return(mylist)

In [22]:
#function  cll
lst2= [100,200,300]
f2(lst2)
lst2

[100, 200, 300]

In [23]:
f2([100,200,300])

[1, 2, 3, 55, 66]

In [ ]:
#mandatory vs optional parameters
#return multiple values from a function
#whike defining a function , amndatory parameters have to be defined 1st followed by optional parameters
#cannot have a mixed sequence of M/O

#minvalue, maxvalue
def stderror(avg,p=2,k=3):

In [33]:
#SE = \sigma / sqrt(n)
#to calculate the range estimation given 
#mean, standard error and 'n' std dev
def getRange(avg,se,k=3):
    minr = avg - k*se
    maxr = avg + k*se
    
    return(minr,maxr)

In [34]:
#function call
#no value specified for k
minr,maxr = getRange(90.2,1.942)
print('Range = {} - {}'.format(round(minr,1),round(maxr,1)))

Range = 84.4 - 96.0

In [35]:
#specify K=2
minr,maxr = getRange(90.2,1.942,2)
print('Range = {} - {}'.format(round(minr,1),round(maxr,1)))

Range = 86.3 - 94.1

In [36]:
#specify K=1
minr,maxr = getRange(90.2,1.942,1)
print('Range = {} - {}'.format(round(minr,1),round(maxr,1)))

Range = 88.3 - 92.1

In [37]:
#invalid defn
def getRange(avg,k=3,se):
    minr = avg - k*se
    maxr = avg + k*se
    
    return(minr,maxr) #that means we can define in your own way, 1st mandatory and then optional

SyntaxError: non-default argument follows default argument (<ipython-input-37-b1f5ea4eb08e>, line 2)

In [43]:
#named parameters
#
def calcWtAvg(v1,v2,v3,w1,w2,w3):
    WtAvg = v1*w1 +v2*w2 +v3*w3
    return(WtAvg)

In [39]:
v1=75;v2=90;v3=85
w1=0.55;w2=0.25;w3=0.2
calcWtAvg(v1,v2,v3,w1,w2,w3)

80.75

In [40]:
calcWtAvg(v1,w2,v2,w2,v3,w3)

58.0

In [41]:
calcWtAvg(w1,w2,w3,v1,v2,v3)

80.75

In [44]:
#named parameters
v1=75;v2=90;v3=85
w1=0.55;w2=0.25;w3=0.2
calcWtAvg(v1=v1,w3=w3,w2=w2,v3=v3,w1=w1,v2=v2)

80.75

In [ ]:
#assignments
#1) write a function to reverse an input(string/number)
#2)write a function to calculate the compund interest and accumlated amount

In [45]:
#found from 'GOOGLE'
str = "Python" # initial string
reversedString=[]
index = len(str) # calculate length of string and save in index
while index > 0: 
    reversedString += str[ index - 1 ] # save the value of str[index-1] in reverseString
    index = index - 1 # decrement index
print(reversedString) # reversed string

['n', 'o', 'h', 't', 'y', 'P']

In [ ]:
#2)write a function to calculate the compund interest and accumlated amount
#done by sir
'''
C.I. = P(1+r/100)^t - P
C.I. Compound Interest
P Principal Amount
A Total Accumlated Amount
r Rate of Interest
t Time(in Years)
'''

In [53]:
#3)  write a function to make a list circular
#a b c d e f    =6
#22
'''
[a,  1,   7,   13,   19,
b,   2,   8,   14,   20,
c,   3,   9,   15,   21,
d,   4,  10,   16,   22,
e,   5,  11,   17,
f,   6,  12,   18,
  ]
  we have find 22 value which corresponds to 'd'
'''

'''
totallength=6
index=23 = e
23%6 = 5
'''

def circList(lst,n):
    ndx = n%len(lst)-1
    return(lst[ndx])
l=['Monday','Tuesday','Wednesday','Thursday','Saturday','Sunday']

In [54]:
circList(l,40)

'Thursday'

In [52]:
[(23%6)-1]

[4]

# args

In [ ]:
#args
def multiply(a,b):
    return(a*b)

multiply(50,7,10)

In [58]:
#args
#when your input is not restricted to fixed number of paraeters
def multiply(*args):
    ans =1
    for e in args:
        ans*=e
    return(ans)
multiply(2,3,5,10,2,4)

2400

In [59]:
multiply(2,3,5,10,2,4)  #datatupe of parameter ?->tuple

2400

# kwargs

In [60]:
#kwargs- key worded arguments
#data type ->dictionary

#create a dictionary 
emp={}
emp['id']=1000
emp['name']=''
emp['age']=0
emp['email']=''
emp

{'id': 1000, 'name': '', 'age': 0, 'email': ''}

In [62]:
def update(**kwargs):
   # print(kwargs)
    for k,v in kwargs.items():
       emp[k] = v
update(name='sriraman',age=45,email='crs@myoffice.in')
print(emp)

{'id': 1000, 'name': 'sriraman', 'age': 45, 'email': 'crs@myoffice.in'}

In [79]:
#combine everything
#function definition
def record(p1,p2,*args,**kwargs):
    print(p1)
    print(p2)
    
    print(args)
    print(kwargs)

In [80]:
#function call
record(101,99.6,1,2,3,4,5, name='abc',profile='analyst',experience=20)

101
99.6
(1, 2, 3, 4, 5)
{'name': 'abc', 'profile': 'analyst', 'experience': 20}

# lambda functions(pseudo function)

In [81]:
###lambda functions(pseudo function-> false function)

In [83]:
#add 2 numbers
ret= lambda x,y:x+y
ret(10,15)

25

In [84]:
#add 3 numbers
ret = lambda r,g,b:r+g+b
ret(255,105,119)

479

In [85]:
#multiply
ret= lambda x,y:x*y
ret(10,4)

40

In [86]:
#greater of the numbers
ret = lambda x,y:x if x>y else y
ret(25,16)

25

In [ ]:
#lambda supports
#iterations 
#filtering

In [87]:
#iterations
num=[2,3,4,5,6]
#every number in the list to be squared 
list(map(lambda x:x**2,num))  #map->applies a function on to an objects and returns what is there

[4, 9, 16, 25, 36]

In [89]:
#find the square root of elements in num 
import math
#math.sqrt(3)
list(map(lambda x:round(math.sqrt(x),2),num))

[1.41, 1.73, 2.0, 2.24, 2.45]

In [93]:
#calc the AREA of a rectangle
L=[10.1,12.4,9,19.3]
B=[6.6,10,5.7,12.1]
list(map(lambda l,b:round(l*b,2),L,B))

[66.66, 124.0, 51.3, 233.53]

In [94]:
#filtering -> meants to extract numbers based on some conditionas

In [95]:
import random 
numlist = random.choices(range(1,100),k=25)

In [96]:
#get all numbers from list >75                #   ":"  -> such tha
list(filter(lambda x :x>75,numlist))

[77, 85, 95, 91, 88]

In [97]:
list(map(lambda x:x>75,numlist))

[False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [ ]:
#numpy->number in python,number python matrix